In [3]:
import pandas as pd
import numpy as np
import pickle
from urllib.request import urlopen
import json

### Import List of Tickers

### Pull Earnings Call Transcripts from API

In [ ]:
def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

In [ ]:
url = ("https://financialmodelingprep.com/api/v3/earning_call_transcript/ZVO?quarter=4&year=2020&apikey=8c48192b57789b1b85a59db736780f87")
print(get_jsonparsed_data(url))

In [ ]:
years = ["2018", "2019", "2020", "2021"]
quarters = ["1", "2", "3", "4"]

In [ ]:
transcripts = []

In [ ]:
for ticker in available_ticks:
    for year in years:
        for quarter in quarters:
            url = "https://financialmodelingprep.com/api/v3/earning_call_transcript/" +ticker+ "?quarter=" + quarter+ "&year=" + year + "&apikey=8c48192b57789b1b85a59db736780f87"
            transcript = get_jsonparsed_data(url)
            transcripts.append(transcript)

In [ ]:
with open('transcripts.pkl', 'wb') as f:
    pickle.dump(transcripts, f)

### Import to DataFrame

In [7]:
infile = open('transcripts_1.pkl','rb')
transcripts_1 = pickle.load(infile)
infile.close()

In [8]:
infile = open('transcripts_2.pkl','rb')
transcripts_2 = pickle.load(infile)
infile.close()

In [39]:
transcripts = transcripts_1 + transcripts_2

In [32]:
len(transcripts)

93701

In [40]:
for transcript_list in transcripts:
    for transcript_dict in transcript_list:
        transcript_dict["content"] = transcript_dict["content"].replace('\n', "")
        transcript_dict["content"] = transcript_dict["content"].replace("\\", "")

In [45]:
from itertools import chain
df = pd.DataFrame(list(chain.from_iterable(transcripts)))

In [46]:
df

,symbol,quarter,year,date,content
0,A,1,2018,2018-02-15 17:00:00,"Operator: Good day, ladies and gentlemen, and ..."
1,A,2,2018,2018-05-15 17:00:00,"Operator: Good day, ladies and gentlemen, and ..."
2,A,3,2018,2018-08-15 17:00:00,"Operator: Good day, ladies and gentlemen, and ..."
3,A,4,2018,2018-11-20 17:00:00,"Operator: Good day, ladies and gentlemen, and ..."
4,A,1,2019,2019-02-21 17:00:00,"Operator: Good day, ladies and gentlemen, and ..."
...,...,...,...,...,...
36367,ZYXI,3,2019,2019-10-30 17:00:00,Operator: Good day and welcome to the Zynex's ...
36368,ZYXI,4,2019,2020-02-28 17:00:00,"Operator: Good afternoon, and welcome to the Z..."
36369,ZYXI,1,2020,2020-04-29 17:00:00,Operator: Good day and welcome to the Zynex Fi...
36370,ZYXI,2,2020,2020-07-28 17:00:00,"Operator: Good day, and welcome to the Zynex S..."
36371,ZYXI,4,2020,2021-02-25 22:44:06,Operator: Good afternoon and welcome to the Z...

In [48]:
tickers = list(df.symbol.unique())

In [50]:
len(tickers)

3773

### NLP Model